/*************** Reset ***************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** Grid ***************/
.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 66px;
  margin-bottom: 80px;
  margin-top: 50px;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 66px;
  margin-bottom: 20px;
}

@font-face {
  font-family: "joystix";
  src: url("font/joystix_monospace-webfont.woff") format("woff");
}

main {
  max-width: 1000px;
  margin-inline: auto;
}

h1 {
  font-size: 90px;
  margin-bottom: 20px;
  font-family: "joystix", monospace;
}
h2 {
  margin-bottom: 20px;
  font-family: "joystix", monospace;
  font-size: 15px;
}

.press_start {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
p {
  margin-bottom: 100px;
  font-family: prompt;
}

.nintendo {
  position: absolute;
  top: 83%;
  left: 15%;
}
.nintendo :hover,
.pusheren :hover {
  color: rgb(114, 158, 234);
}
.pusheren {
  position: absolute;
  top: 96%;
  left: 19.7%;
}
.velkommen {
  position: absolute;
  top: 78%;
  left: 15%;
}

.nintendokonsol :hover {
  box-shadow: 2px 0px 30px -3px rgb(0, 51, 255);
  border-radius: 20px;
}
.xbox :hover {
  box-shadow: 2px 0px 30px -3px rgb(0, 51, 255);
  border-radius: 20px;
}

.playstation :hover {
  box-shadow: 2px 0px 30px -3px rgb(0, 51, 255);
  border-radius: 20px;
}
