/*************** Reset ***************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** Grid ***************/
.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 66px;
  margin-bottom: 80px;
  margin-top: 50px;
}
@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 66px;
    margin-bottom: 20px;
  }

  .order {
    order: 1;
  }

  #screen {
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
    margin-bottom: 100px;
  }
  #container {
    width: 500px;
    height: 200px;
    position: relative;
  }
  #overskrift {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 129%;
    left: 10%;
    transform: translatey(0px);
    animation: change 7s ease-in-out infinite;
  }
  #forside_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -21%;
    left: 85%;
  }
  .forside_img {
    z-index: 100;
  }
  @keyframes change {
    0% {
      /*transform: translatey(0px);*/
    }
    50% {
      /*transform: translatey(-20px);*/
      color: white;
      text-shadow: 0 0 32px rgb(0, 9, 187);
    }
    100% {
      transform: translatey(0px);
    }
  }
}

@font-face {
  font-family: "joystix";
  src: url("font/joystix_monospace-webfont.woff") format("woff");
}

main {
  max-width: 1000px;
  margin-inline: auto;
}

h1 {
  font-size: 90px;
  margin-bottom: 20px;
  font-family: "joystix", monospace;
}

h2 {
  margin-bottom: 20px;
  font-family: "joystix", monospace;
  font-size: 15px;
}

.press_start {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.figur {
  width: 450px;
  margin-bottom: 80px;
}
p {
  margin-bottom: 20px;
  font-family: prompt;
}

.mario {
  width: 100px;
  margin-top: 50px;
}

.events {
  margin-top: 30px;
}

.nintendokonsol :hover,
.xbox :hover,
.playstation :hover {
  transform: translatey(0px);
  animation: float2 4s ease-in-out infinite;
}

.kontakt p,
.mads p {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  mix-blend-mode: multiply;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 12px;
  border: 2px solid black;
  padding: 20px;
  margin-top: 40px;
  border-radius: 11px;
  position: relative;
  box-shadow: 20px 20px rgb(0, 0, 0);
  font-family: prompt;
}
.kontakt p:after,
.mads p:after {
  transform: translatey(0px);
  animation: float2 5s ease-in-out infinite;
  content: ".";
  font-weight: bold;
  text-shadow: 22px 22px rgb(0, 0, 0);
  text-align: left;
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 30px;
  border-radius: 11px;
  border: 2px solid black;
  background-color: #e6e6e6;
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  box-shadow: 22px 22px rgb(0, 0, 0);
  z-index: -2;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}
