main {
    max-width: 1000px;
    margin-inline: auto;
}
p {
    font-family: 'Prompt', sans-serif;
    margin-top: 20px;
}

h1 {
    margin-left: 20px;
    font-family: Joystix;
    font-size: 2rem;
}

h2 {
    margin: 30px 0px 30px 20px;
    font-size: 1.5rem;
}

ul li {
    list-style-type: none;
}

.info {
    padding: 10px;
    margin: 20px 10px 10px 10px;
    background-color: #101278;
    color: white;
    text-align: center;
}


/*---------- Formular --------- */
form{
    display: grid;
    gap: 2rem;
    width: 2rem;
    margin: 20px 10px 10px 10px;
}

textarea{
    resize: none;
}

.form_felt {
    display: grid;
    gap: 3px;
}


@media (min-width: 800px) {
.grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr; 
}

.grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

}