/*************** Reset ***************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** Generel style ***************/
body {
  background-color: #e6e6e6;
  font-family: Prompt, monospace;
}
main {
  max-width: 1000px;
  margin-inline: auto;
}
/*************** Grid ***************/

.footer_flex {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  gap: 20px;
}

/*************** Style ***************/

/*************** Footer ***************/
footer {
  text-align: center;
  font-size: 1.2rem;
  font-family: Prompt;
  padding: 45px 20px 20px 20px;
  margin-top: 20px;
  color: #f0f9ff;
  background-color: #252525;
}

.footertekst {
  text-align: left;
}

.iconsize {
  width: 15%;
}

.flexicons {
  display: flex;
  gap: 40px;
  margin-left: 50px;
  margin-top: 40px;
}

/*************** Header ***************/

header {
  position: sticky;
  top: 10px;

  margin: 20px;

  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: block;
  overflow-x: auto;
  text-align: right;
  list-style-type: none;
}

/* Links */
a {
  text-decoration: none;

  color: #000000;
  font-family: prompt;
  font-size: 25px;
}
a:hover {
  color: rgb(0, 0, 0);
  font-weight: 600;
}
/*************** Font ***************/

@font-face {
  font-family: "joystix";
  src: url("../font/joystix_monospace-webfont.woff2") format("woff2");
}

nav {
  --less-than: 700;
  --burger-lines: #000000;
  --burger-border: #000000;
}
