/*************** Reset ***************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/*************** Grid ***************/

.grid_1_1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 70px 60px;
  margin-bottom: 80px;
}

.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 980px;
  margin: 0 auto 40px auto;
}

/*************** Style ***************/
.item {
  width: 400px;
  height: 400px;
  margin: 0 40px 30px 50px;
  box-shadow: -30px 30px 0px 0px rgb(77, 77, 91);
  border-radius: 10px;
}
.item1 {
  background-image: url("../grafik_shop/playstationgame.webp");
}
.item2 {
  background-image: url("../grafik_shop/nintendogame.webp");
}

.shopbody {
  background-image: url("../grafik_shop/shop_bg.webp");
}
.title {
  color: black;
  font-size: 2.1rem;
  text-decoration: none;
  font-family: Prompt, monospace;
  font-weight: bolder;
  margin-bottom: 10px;
}

.knap {
  background-color: #000000;
  width: 207px;
  border-radius: 10px;
  height: 53px;
  padding-top: 9px;
  font-weight: bolder;
  color: white;
}

.paalager {
  color: #0070ff;
  margin-top: 85px;
  font-weight: bolder;
}

.pris {
  font-size: 2.4rem;
  font-weight: bolder;
}

.shop {
  width: 250px;
  height: 250px;
  border: solid;
  border-radius: 15%;
  border-color: black;
  font-size: 1.3rem;
  font-family: joystix;
  text-align: center;
  padding-top: 243px;
  background-color: #e6e6e6;
}

.shoptxt {
  margin-top: 10px;
}

.shop1 {
  background-image: url("../grafik_shop/nintendo.svg");
  background-size: cover;
}
.shop2 {
  background-image: url("../grafik_shop/playstation.svg");
  background-size: cover;
}
.shop3 {
  background-image: url("../grafik_shop/xbox.svg");
  background-size: cover;
}
.shop4 {
  background-image: url("../grafik_shop/sega.svg");
  background-size: cover;
}
.shop5 {
  background-image: url("../grafik_shop/skylanders.svg");
  background-size: cover;
}
.shop6 {
  background-image: url("../grafik_shop/");
  background-size: cover;
}
.shop7 {
  background-image: url("../grafik_shop/import.svg");
  background-size: cover;
}
.shop8 {
  background-image: url("../grafik_shop/pc.svg");
  background-size: cover;
}
.shop9 {
  background-image: url("../grafik_shop/");
  background-size: cover;
}
.shop10 {
  background-image: url("../grafik_shop/");
  background-size: cover;
}
.shop11 {
  background-image: url("../grafik_shop/");
  background-size: cover;
}
.shop12 {
  background-image: url("../grafik_shop/");
  background-size: cover;
}

main {
  max-width: 1200px;
  margin-inline: auto;
}

.color1 {
  background-color: red;
  width: 250px;
  height: 250px;
}

a {
  color: black;
  font-size: 2rem;
  text-decoration: none;
  font-family: monospace;
  text-align: center;
}

.shop:hover {
  box-shadow: -15px -15px 0px 0px rgb(0, 0, 0);
}
