/*************** Reset ***************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/*************** Grid ***************/

.grid_1_1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 66px;
  margin-bottom: 65px;
}

/*************** Style ***************/
.shop {
  width: 250px;
  height: 250px;
  border: solid;
  border-radius: 15%;
  border-color: black;
  font-size: 2rem;
  font-family: joystix;
  text-align: center;
  padding-top: 243px;
}

.shop1 {
  background-image: url("../grafik/playstation.svg");
  background-size: cover;
}
.shop2 {
  background-image: url("../grafik/nintendo.svg");
  background-size: cover;
}
.shop3 {
  background-image: url("../grafik/xbox.svg");
  background-size: cover;
}
.shop4 {
  background-image: url("../placeholder_grafik/sega.png");
  background-size: cover;
}
.shop5 {
  background-image: url("../placeholder_grafik/skylanders.png");
  background-size: cover;
}
.shop6 {
  background-image: url("../placeholder_grafik/amiibo.png");
  background-size: cover;
}
.shop7 {
  background-image: url("../placeholder.webp");
  background-size: cover;
}
.shop8 {
  background-image: url("../placeholder.webp");
  background-size: cover;
}
.shop9 {
  background-image: url("../placeholder.webp");
  background-size: cover;
}
.shop10 {
  background-image: url("../placeholder.webp");
  background-size: cover;
}
.shop11 {
  background-image: url("../placeholder.webp");
  background-size: cover;
}
.shop12 {
  background-image: url("../placeholder.webp");
  background-size: cover;
}

.title {
  color: black;
  font-size: 4rem;
  text-decoration: none;
  font-family: monospace;
  text-align: center;
  padding-bottom: 20px;
}

main {
  max-width: 1200px;
  margin-inline: auto;
}

.color1 {
  background-color: red;
  width: 250px;
  height: 250px;
}

a {
  color: black;
  font-size: 2rem;
  text-decoration: none;
  font-family: monospace;
  text-align: center;
}

a:hover {
  color: red;
}
