/*************** Reset ***************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/*************** Grid ***************/

.grid_1_1_1_1 {
  display: grid;
  gap: 50px 30px;
  margin-bottom: 40px;
}

.grid_1_1 {
  display: grid;
  margin-bottom: 40px;
  margin: 0 20px 30px 20px;
}

/*************** Style ***************/

.item {
  width: 200px;
  height: 200px;
  margin: 0 auto 20px auto;
  border-radius: 10px;
}
.item1 {
  background-image: url("../grafik_shop/playstationgame.webp");
  background-size: cover;
}
.item2 {
  background-image: url("../grafik_shop/nintendogame.webp");
  background-size: cover;
}

.shopbody {
  background-image: url("../grafik/bg.png");
}
.title {
  --main-color: black;
  color: var(--main-color);
  font-size: 2.1rem;
  text-decoration: none;
  font-family: Prompt, monospace;
  font-weight: bolder;
  margin-bottom: 10px;
}

.knap {
  background-color: #000000;
  width: 207px;
  border-radius: 10px;
  height: 53px;
  padding-top: 9px;
  font-weight: bolder;
  color: white;
}

.paalager {
  color: #0070ff;
  margin-top: 10px;
  font-weight: bolder;
}

.pris {
  font-size: 2.4rem;
  font-weight: bolder;
}

.shop {
  width: 200px;
  height: 200px;
  border: solid;
  border-radius: 15%;
  border-color: black;
  font-size: 1.2rem;
  font-family: joystix;
  text-align: center;
  padding-top: 190px;
  background-color: #e6e6e6;
  margin-left: auto;
  margin-right: auto;
}

.shoptxt {
  margin-top: 10px;
}

.shop1 {
  background-image: url("../grafik_shop/nintendo.svg");
  background-size: cover;
}
.shop2 {
  background-image: url("../grafik_shop/playstation.svg");
  background-size: cover;
}
.shop3 {
  background-image: url("../grafik_shop/xbox.svg");
  background-size: cover;
}
.shop4 {
  background-image: url("../grafik_shop/sega.svg");
  background-size: cover;
}
.shop5 {
  background-image: url("../grafik_shop/skylanders.svg");
  background-size: cover;
}
.shop6 {
  background-image: url("../grafik_shop/");
  background-size: cover;
}
.shop7 {
  background-image: url("../grafik_shop/import.svg");
  background-size: cover;
}
.shop8 {
  background-image: url("../grafik_shop/pc.svg");
  background-size: cover;
}
.shop9 {
  background-image: url("../grafik_shop/");
  background-size: cover;
}
.shop10 {
  background-image: url("../grafik_shop/");
  background-size: cover;
}
.shop11 {
  background-image: url("../grafik_shop/");
  background-size: cover;
}
.shop12 {
  background-image: url("../grafik_shop/");
  background-size: cover;
}

main {
  max-width: 1200px;
  margin-inline: auto;
}

.color1 {
  background-color: red;
  width: 250px;
  height: 250px;
}

a {
  color: black;
  font-size: 2rem;
  text-decoration: none;
  font-family: monospace;
  text-align: center;
}

.shop:hover {
  box-shadow: -15px -15px 0px 0px rgb(16, 18, 120);
  border-color: rgb(16, 18, 120);
  animation: float 1.2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(5px);
  }
  100% {
    transform: translatey(0px);
  }
}

/*************** media query ***************/

@media (min-width: 700px) {
  .grid_1_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    margin-bottom: 80px;
  }

  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 980px;
    margin: 0 auto 40px auto;
  }
  .item {
    width: 400px;
    height: 400px;
    margin: 0 40px 30px 50px;
    box-shadow: -30px 30px 0px 0px rgb(77, 77, 91);
    border-radius: 10px;
  }

  .paalager {
    margin-top: 85px;
  }

  .shop {
    font-size: 1.3rem;
  }
}
